.search {
    background-color: #fff;
    position: absolute;
    top: 15%;
    left: 35%;
    padding: 15px;
    border-radius: 16px;
    width: 500px;
    height: 500px;
}

.closeSearch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6d6f7093;
    backdrop-filter: blur(4px);
}